$color-primary: #72FF80;
$color-primary-light: rgb(51, 255, 71);
$color-primary-dark: #2ed89f;

$color-grey-light-1 :#f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// Font
$default-font-size:1.6rem;


// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
